<h1>Register</h1>
<form action="/api/auth/register" method="POST">
    <label for="email">Email</label>
    <input type="text" name="email" id="email">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">

    <button type="reset">Reset</button>
    <button type="submit">Register</button>
</form>