<h1>Register</h1>
<form method="post" action="/api/register">
    <label for="email">Email</label>
    <input type="text" id="email" name="email">

    <label for="password">Password</label>
    <input type="password" id="password" name="password">

    <button type="reset">Reset</button>
    <button type="submit">Register</button>

</form>