<h1>Hello from notes!</h1>
<ul>
    <% for (const id in notes) { %>
        <li>
            <a href="/notes/<%= id %>">
                <%= notes[id].content %>
            </a>
            <form action="/api/notes/<%= id %>/delete" method="POST">
                <button type="submit">X</button>
            </form>
        </li>
        <% } %>
</ul>
<a href="/notes/new">Create new note</a>